In [15]:
from matplotlib import pyplot as plt
import pymysql
import pandas as pd

In [ ]:
conn = pymysql.connect(host='zuzak.cvqcrkck1aqg.us-east-1.rds.amazonaws.com', user='getChan', password='cksdl951!!',db='zuzak', charset='euckr')
try:
    with conn.cursor() as cursor:
        df = pd.read_sql('SELECT * FROM zuzak.genie WHERE title = 그날처럼', con=conn)
finally:
    conn.close()

In [20]:
df.head()

          0   1     2    3    4
0  18010100  20  그날처럼  장덕철  2하강
1  18010101  20  그날처럼  장덕철   유지
2  18010102  17  그날처럼  장덕철  3상승
3  18010103  15  그날처럼  장덕철  2상승
4  18010104  14  그날처럼  장덕철  1상승

In [ ]:
df= df['2']
df.plot()
plt.show()

In [ ]:
import pymysql.cursors
 
conn = pymysql.connect(host='localhost',
        user='user',
        password=None,
        db='test',
        charset='utf8mb4')